page-awesome {

  ion-content{
    background-image: url("../../assets/content/img/bg.png")!important;
    //background-color: transparent!important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-md:nth-child(1) {
    border-top: none!important;
    border-bottom: none!important;
  }

  .item.item-ios .checkbox-ios {
    position: static;
    display: block;
    margin: 8px 8px 8px 2px!important;
  }
  .item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 8px 8px 8px 2px!important;
  }

  .input-wrapper {
    background: transparent!important;
    padding-left: 15px;
    color: #ffffff;
  }
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none!important;
  }
  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none!important;
  }






  .main{
    width: 100%;
    position: absolute;
    //left: 50%;
    top: 10%;
    //margin-left: -150px;
    //margin-top: -150px;
    background: rgba(0, 0, 0, 0.6);
  }
  .main > .icon-image{
    width: 100px;
    margin: 0 auto;
    text-align: center;
  }
  .main > .icon-image > .img-ion{
    width: 80px;
    height: 80px;
    margin-top: -40px;
    border-radius:100px!important;
    background: rgba(0, 0, 0, 0.6);
  }
  .main-text > p{
    color: #fec733;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .inner-text > p{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 15px 40px;
  }
  .awesome-link{
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
  }
  .awesome-link > a{
    color: #fec733;
    font-size: 20px;
    margin: 0px;
  }
  .awesome-btn{
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
  }
  .awesome-btn a{
    text-decoration: none;
  }
  .btn-awe{
    background-color: #fec733!important;
    border-width: 1px;
    border-style: solid;
    border-color: #f7fe33;
    color: #000000;
    font-weight: bold;
  }

  .item.item-ios .checkbox-ios {
    position: static;
    display: block;
    margin: 8px 0 8px 2px !important;
  }

  .item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 8px 0 8px 2px !important;
  }

}

