page-gallery {

  .clearfix{
    clear: both;
  }

  ion-content{
    background-image: url("../../assets/content/img/bg.png")!important;
    //background-color: transparent!important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallery-img{
    width: 100%;
    //background: red;
    padding: 5px;
  }
  .gallery-img img{
    width: 100%;
    border: 1px solid #eee;
    padding: 5px;
  }

}
