
<ion-header>

  <ion-navbar>
    <!--<ion-title>Gallery</ion-title>-->
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-grid no-padding>
    <ion-row no-padding *ngIf="showSlides">
        <ion-col col-4 *ngFor="let i of images">
          <div class="gallery-img">
            <img src="{{ globalVar.domain }}/{{ i.img }}" alt="">
            <div style="clear: both!important;"></div>
          </div>
          <div style="clear: both!important;"></div>
        </ion-col>
      <div style="clear: both!important;"></div>
    </ion-row>
    <div style="clear: both!important;"></div>
  </ion-grid>
  <div style="clear: both!important;"></div>
</ion-content>
