page-search {

  ion-content{
    background-image: url("../../assets/content/img/bg.png")!important;
    //background-color: transparent!important;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
